$light-green: #50E3C2;
$lightest-blue: #DBE7EC;
$darkest-green: #1E3444;
$white: #ffffff;
$grey: rgb(189, 189, 189);

/* avenir */
@font-face {
    font-family: Avenir;
    src: url('../fonts/AvenirLTStd-Book.otf');
  }
/* end avenir */

/* nevis */
  @font-face {
    font-family: nevis;
    src: url('../fonts/nevis.ttf');
  }
/* end nevis */

h1 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

.text-header {
  font-family: nevis;
}

.text-body {
  font-family: Avenir;
  font-size: 16px;
}

.logo {
    height: 50px;
}

.header-image {
  height: 50vh;
  width: 500%;
}

#check-icon {
    padding: 20px;
    box-shadow: 0 0 13px 0 $light-green;
    background-color: $white;
    border-radius: 50%;
    margin: 20px;
    padding: 10px;
  }

  .payment-logo {
    max-height: 50px;
  }

  #btn-dark {
    color: $light-green;
    background-color: $darkest-green;
    border: 2px solid $darkest-green;
    border-radius: 15px;
    transition: background-color color  0.5 0.5 ease-in;
  }
  
  #btn-dark:hover {
    background-color: transparent;
    color: $darkest-green;
  }

  .feature-card {
    max-height: 150px;
  }
 
  .section-quote {
    background-color: $light-green;
    border-radius: 15px;
    box-shadow: 0px 5px 0px $lightest-blue;
    color: $darkest-green;
    max-height: 80px;
    margin-bottom: 10px;
    padding: 10px;
    justify-content: center;
    text-align: center;
  }
  
  .offer-card {
    background-color: $lightest-blue;
    border-radius: 15px;
  }

  .offer-card-header {
    padding: 10px;
    padding-bottom: 0px;
  }
  
  .offer-card-text {
    padding-top: 0px;
  }

  .what-we-offer-cta {
    text-align: right;
    justify-content: right;
  }

.dashboard-screenshot {
  padding-top: 50px;
}

.how-safe-img {
    max-width: 200px;
    max-height: 200px;
}

  @import 'testimonial';